@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "500";
}
<h1>500 - SERVER ERROR</h1>
<h3>An unexpected error has occured.</h3>